
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arimo">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind:300">
<link rel="stylesheet" type="text/css" href="https;//fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

</head>

<body>
	<div class='login'>
		<h1>
			Predictive Maintenance of a Lathe			
		</h1>
		
		<p>
			App to predict the overstrain of the tool used in a lathe in function of the torque [Nm] and the tool wear[min], and to predict the class of the process.
		</p>
		
		<!-- Main Input for receiving query to our ML-->
		<h2>
			Prediction
		</h2>
				
		<h3>
			Overstrain prediction
		</h3>
		<p>The range of the torque is [-8.39 ; 2.48], and the one of the tool wear is [-4.03 ; 1.22]. Those entries are standardized</p>
		<form action="{{url_for('predict')}}"method='post'>
			<input type="text" name="torque" placeholder="Torque" required="required" />
			<input type="text" name="tool wear" placeholder="Tool wear" required="required" />
			<button type='submit' class="btn btn-primary btn-block btn-large">Predict</button>
			
		</form>
		
		<h3>
			Class of the process
		</h3>
		<p>
			The entry for type will be as followed: High = 0; Low = 1; Medium = 2.
			
			<br>
			Class 0 = Lathe okay
			<br>
			Class 1 = Lathe failed
			<br>

			Dif temperature is the diference between the process temperature and air temperature in Kelvin.


		</p>
		<form action="{{url_for('predict_class')}}"method='post'>
			<input type="text" name='type' placeholder="Type" required="required" />
			<input type="text" name="Dif temperature" placeholder="Dif temperature [K]" required="required"/>
			<input type="text" name="Rotational speed" placeholder="Rotational speed [rpm]" required="required"/>
			<button type="submit" class="btn btn-primary btn-block btn-large">Predict_class</button>
		</form>


		<br>
		<br>
		<h3>
			Output prediction
		</h3>
		
		{{prediction_text}}
		<br>
		{{prediction_hdf_text}}

		<br>
		<br>

		<p>
			Connect with me on <a href="https://www.linkedin.com/in/christian-tshizubu-4a157932/" target="_blank">LinkedIn</a> for future collaboration
		</p>
		
		

	</div>
</body>
</html>
