
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arimo">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Hind:300">
<link rel="stylesheet" type="text/css" href="https;//fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

</head>

<body>
	<div class='login'>
		<h1>
			Predictive Maintenance of Heavy Industry Machinery			
		</h1>
		<p>
			Data from heavy industry machinery are usually hard to acquire for free. The data used for this model are provided by Hochschule für Technik und Wirtschaft Berlin. 
			The data reflects real predictive maintenance encountered in industry.
		</p>
		<p>
			The objective is to predict whether a machine will have a power failure, PWF, in the production process. This failure mode can be described as, given the product quality (Low, Medium, High), the torque [Nm] and the rotational speed [rpm], if the power required is below 3500 W or above 9000 W, the machine will face a power failure.
		</p>
		
		<!-- Main Input for receiving query to our ML-->
		<h2>
			Prediction
		</h2>
		<p>
			The entry for the product quality will be as followed:
			Low = 0; 
			Medium = 1;
			High = 2.
		</p>
		<p>
			The output power is in natural log form. The power failure limits of 3500 W - 9000 W turn into 8.16 W - 9.10 W. 
		</p>
		<h3>
			Input variables
		</h3>
		<form action="{{url_for('predict')}}"method='post'>
			<input type="text" name="type" placeholder="Type" required="required" />
			<input type="text" name="torque" placeholder="Torque [Nm]" required="required" />
			<button type='submit' class="btn btn-primary btn-block btn-large">Predict</button>
			
		</form>
		
		<br>
		<br>
		<h3>
			Output prediction
		</h3>
		
		{{prediction_text}}

		<br>
		<br>

		<p>
			Connect with me on <a href="https://www.linkedin.com/in/christian-tshizubu-4a157932/" target="_blank">LinkedIn</a> for future collaboration
		</p>
		
		

	</div>
</body>
</html>